@import '../../styles/variables';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s ease;
    
    &.open {
        opacity: 1;
        pointer-events: all;
    }
    
    &.close {
        opacity: 0;
        pointer-events: none;
    }
}


.modal-content {
    background: $card-color;
    color: $main-text-color;
    padding: 2rem;
    border: 1px solid $dark-accent-color;
    border-radius: 12px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0.85);
    transition: transform 1s ease, opacity 1s ease;
    
    &.open {
        opacity: 1;
        transform: scale(1);
    }
    
    &.close {
        opacity: 0;
        transform: scale(0.85);
    }
}


.modal-buttons {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-around;
}

.modal-btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

.modal-confirm {
    background: $accent-color;
    color: $main-text-color;
    
    &:hover {
        background: $dark-accent-color;
    }
}


.modal-cancel {
    background: $dark-accent-color;
    color: $main-text-color;
    
    &:hover {
        background: $accent-color;
    }
}
