.admin-container {
    display: flex;
    height: 100vh;
    width: 100%;
    background: var(--bg);
    color: var(--main-text);
    overflow: hidden;
}

.admin-content {
    flex: 1;
    padding: 70px;
    overflow-y: auto;
}