.manage-users {
    color: var(--main-text);
}

.manage-users h1 {
    margin-bottom: 20px;
}

.search-box {
    width: 250px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin-bottom: 20px;
    background: var(--card);
}

.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.users-table th,
.users-table td {
    padding: 14px;
    text-align: left;
    border-bottom: 1px solid var(--muted-text);
}

.role {
    text-transform: capitalize;
}

.actions-col {
    text-align: right;
}

.actions {
    text-align: right;
}

.edit-btn,
.delete.btn {
    padding: 8px 12px;
    border-radius: 6px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.modal {
    margin: 0 auto;
    position: fixed;
    inset: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: var(--card);
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border: 1px solid var(--muted-text);
}

.modal-content input {
    background: var(--card);
    pointer-events: none;
    cursor: default;
}

.modal-content input,
.modal-content select {
    padding: 10px;
    border-radius: 6px;
    border: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.save-btn, .cancel-btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    background: var(--accent);
    color: var(--main-text);
    cursor: pointer;
    transition: background 0.2s ease;
}

.save-btn:hover, .cancel-btn:hover {
    background: var(--dark-accent);
}