@use '../../../styles/variables' as v;

.songs__no-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem 1rem;
    width: 100%;
    box-sizing: border-box;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.songs__no-results-title {
    font-size: clamp(1.1rem, 2.5vw, 1.4rem);
    margin-bottom: 1.5rem;
    color: v.$muted-text-color;
    max-width: 500px;
}

.songs__reset-button {
    min-width: 12rem;
    padding: clamp(0.5rem, 1.2vh, 0.625rem) clamp(0.875rem, 2vw, 1.25rem);
    background: v.$primary-color;
    color: v.$main-text-color;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: v.$dark-accent-color;
        transform: translateY(-1px);
    }
}