@import '../../styles/variables';

.notifications {
    position: fixed;
    top: 3.5rem;
    right: 20px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__item {
        padding: 12px 18px;
        border-radius: 8px;
        color: $inverse-color;
        font-size: 15px;
        background: $main-text-color;
        opacity: 0;
        animation: fadeInOut 3s forwards;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        position: relative;
        overflow: hidden;

        &--success {
            .notifications__progress { background: $highlight-color; }
        }

        &--error {
            .notifications__progress { background: $accent-color; }
        }

        &--info {
            .notifications__progress { background: $muted-text-color; }
        }

        &--warning {
            .notifications__progress { background: $dark-accent-color; }
        }
    }

    &__progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        animation-name: shrink;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateX(20px); }
    10% { opacity: 1; transform: translateX(0px); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateX(20px); }
}

@keyframes shrink {
    from { width: 100%; }
    to { width: 0%; }
}