@use '../../../styles/variables' as v;

.modal__cancel-btn {
    background: transparent;
    border: 1px solid rgba(v.$main-text-color, 0.2);
    color: v.$main-text-color;

    &:hover {
        background: rgba(v.$main-text-color, 0.05);
        border-color: rgba(v.$main-text-color, 0.4);
    }
}

.modal__confirm-btn {
    background: v.$primary-color;

    &:hover {
        background: v.$dark-accent-color;
    }
}