@use '../../styles/variables' as v;

.admin-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    background: v.$bg-color;
    color: v.$main-text-color;
    overflow: hidden;
    
    &__content {
        flex: 1;
        padding: 70px;
        overflow-y: auto;
    }
}