@import '../../styles/variables';

.admin-layout {
    display: flex;
    height: 100vh;
    width: 100%;
    background: $bg-color;
    color: $main-text-color;
    overflow: hidden;
    
    &__content {
        flex: 1;
        padding: 70px;
        overflow-y: auto;
    }
}